.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar {
      background-color: rgb(54, 121, 223);
      height: 50px;
  }

.logo{
    margin-left: 60px; 
    margin-top: 1px;
    float: left;
    width: 125px;
    height: 125px;
}

ul{
    text-align: left;
    margin-right: 90px;
}
